<a href="https://colab.research.google.com/github/imranaljahsyi/Coursera_Capstone/blob/main/Battle_of_the_Neighborhoods_Coursera_Capstone_Project_(Week1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Battle of the Neighborhoods - Coursera Capstone Project**

# **Introduction**

A Fintech (cashless payment service) company is looking to expand into Malaysia primarily setting up shop as well as operations in the Klang Valley preferably Kuala Lumpur, the capital city of Malaysia, and Subang Jaya, a highly urbanised locality in Selangor. 

The company wants insight into the neighborhoods and local businesses in the cities so that it can identify ways to develop their offerings (gift vouchers, F&B partnerships, territorial strategy) in the context of cities in Kuala Lumpur and Subang Jaya. 

This project will explore the restaurant data  and ultimately how the the aforementioned firm can leverage the information obtained.

**Questions to ask**

* What is the number of restaurants in Kuala Lumpur & Subang Jaya ?
* Which areas are have the most restaurants ?
* What places have best restaurant in Kuala Lumpur?
* What places have best restaurant in Kuala Lumpur?

# **Data**

For this project we need the following data :


1.   Resturants data that contains list Locality, Resturant name,Rating along with their latitude and longitude in both Kuala Lumpur and Subang Jaya.
*   Data source : GitHub user 'heiswayi' Malaysia Postal Codes & CSV Datasets
*   Description : This data set contains the required information. And we will use this data set to explore various localities of both areas.


---

---





2.   Nearby places in each locality of both Kuala Lumpur & Subang Jaya.
*   Data source : Fousquare API & Pos Malaysia API
*   Description : By using this api we will get all the venues in each neighborhood.

# **Approach**



1.   Collect the Kuala Lumpur data from dataset source.
2.   Using FourSquare API we will find all venues for each neighborhood.
3.   Filter out all venues that are nearby by locality.
4.   Using aggregative rating for each resturant to find the best places.
5.   Visualize the Ranking of neighborhoods using folium library and other libraries for other various operations aligned with the project such as pandas, numpy (calculation) and scikit-learn (machine learning models).

In [4]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium 
from bs4 import BeautifulSoup

In [20]:
#Obtain Data From GitHub Source
table = pd.read_html('https://github.com/heiswayi/malaysia-postcodes/blob/master/kuala_lumpur.csv', header = 0)

#Obtain the first table
df_KL = table[0]
df_KL.head(11)

    Unnamed: 0  POSTCODE                ADDRESS          CITY STATE
0          NaN     50000  Bangunan Bangkok Bank  Kuala Lumpur   KUL
1          NaN     50000      Jalan Balai Polis  Kuala Lumpur   KUL
2          NaN     50000           Jalan Bandar  Kuala Lumpur   KUL
3          NaN     50000       Jalan Cheng Lock  Kuala Lumpur   KUL
4          NaN     50000       Jalan Hang Lekir  Kuala Lumpur   KUL
5          NaN     50000      Jalan Hang Naadim  Kuala Lumpur   KUL
6          NaN     50000         Jalan Panggung  Kuala Lumpur   KUL
7          NaN     50000         Jalan Petaling  Kuala Lumpur   KUL
8          NaN     50000        Jalan Sang Guna  Kuala Lumpur   KUL
9          NaN     50000            Jalan Skola  Kuala Lumpur   KUL
10         NaN     50000  Jalan Sultan Sulaiman  Kuala Lumpur   KUL